@use '../mixins/breakpoint' as *;

.hero {
  position: relative;
  min-height: 900px;
  width: 100%;
  padding: 43px 80px 289px;
  margin-bottom: 44px;

  @include tablet {
    padding: 43px 20px 100px;
    margin-bottom: 24px;
  }

  &__bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__container {
    margin: 0 auto;
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1760px;
    flex-direction: column;
    align-items: stretch;


    @include tablet {
      max-width: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 40px 80px;
    font-weight: 700;
    justify-content: flex-start;

    @include tablet {
      max-width: 100%;
    }
  }

  &__nav {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    gap: 40px 159px;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include tablet {
      max-width: 100%;
    }
  }

  &__logo {
    aspect-ratio: 7.35;
    object-fit: contain;
    object-position: center;
    width: 360px;
    align-self: stretch;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;
  }

  &__menu {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    gap: 30px;
    font-family:
      "Europa-Bold",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: right;
    line-height: 1.2;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include tablet {
      max-width: 100%;
    }
  }

  &__menu-link {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    color: inherit;
    text-decoration: none;
  }

  &__cta-wrapper {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    gap: 24px;
    font-family:
      "Sansita",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.28px;
    justify-content: flex-start;
  }

  &__cta-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 36px;
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;
  }

  &__cta-button {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    align-self: stretch;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    margin-top: auto;
    margin-bottom: auto;
    min-height: 54px;
    padding: 18px 40px;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;

    @include tablet {
      padding: 18px 20px;
    }
  }

  &__content {
    align-self: flex-end;
    display: flex;
    margin-top: 294px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    @include tablet {
      max-width: 100%;
      margin-top: 40px;
      margin-right: 10px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: flex-start;

    @include tablet {
      max-width: 100%;
    }
  }

  &__title {
    text-shadow: 4px 10px 48px rgba(0, 0, 0, 0.37);
    font-size: 64px;
    font-family:
      "Europa-Bold",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;

    @include tablet {
      max-width: 100%;
      font-size: 40px;
    }
  }

  &__subtitle {
    font-size: 36px;
    font-family:
      "Europa-Regular",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 0;

    @include tablet {
      max-width: 100%;
    }
  }

  &__action-button {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
    border: 2px solid rgb(255, 255, 255);
    margin-top: 40px;
    max-width: 100%;
    padding: 15px 52px;
    font-family:
      "Europa-Bold",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    color: rgb(18, 20, 22);
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;

    @include tablet {
      padding: 15px 20px;
    }
  }
}
