<div class="hero">
  <img src="img/content/75521ee7426a0e68394fe336320c16f83898e868.png" alt="" class="hero__bg" />
  <div class="hero__container">
    <div class="hero__header">
      <div class="hero__nav">
        <img src="img/content/844fa8b2ece17fb063589ac37a3042d6b47c09e4.svg" alt="Logo" class="hero__logo" />
        <nav class="hero__menu">
          <a href="#" class="hero__menu-link" data-i18n="destinations">DESTINATIONS</a>
          <a href="#" class="hero__menu-link" data-i18n="food">FOOD</a>
          <a href="#" class="hero__menu-link" data-i18n="wellbeing">WELL BEING</a>
          <a href="#" class="hero__menu-link" data-i18n="sport">SPORT</a>
          <a href="#" class="hero__menu-link" data-i18n="family">FAMILY</a>
          <a href="#" class="hero__menu-link" data-i18n="lifestyle">LIFESTYLE</a>
        </nav>
        <div class="hero__cta-wrapper">
          <button> <img src="img/general/svg/1.svg" alt="" class="hero__cta-icon" /></button>
          <button id="change-lang" class="hero__cta-button" data-i18n="calltoaction">CALL TO ACTION</button>
        </div>
      </div>
    </div>
    <div class="hero__content">
      <div class="hero__text-wrapper">
        <h1 class="hero__title" data-i18n="title">Inspiration for travel by real people</h1>
        <p class="hero__subtitle" data-i18n="subtitle">Book smart, travel simple</p>
      </div>
      <button class="hero__action-button" data-i18n="startplanning">Start planning your trip</button>
    </div>
  </div>
</div>
